#Basic Programming Sysntax and Operations

**Number Representation in Integer and Float and showing their types**

In [24]:
a = 50
print(type(a)) # Prints "class type"
print(a)       # Prints "50"
print(a + 1)   # Addition; prints "51"
print(a - 1)   # Subtraction; prints "49"
print(a * 2)   # Multiplication; prints "100"
print(a ** 2)  # Exponentiation; prints "2500"

a += 1
print(a)  # Prints "51"
a *= 2
print(a)  # Prints "102"
b = 10.5
print(type(b)) # Prints "class type"
print(b, b + 1, b * 2, b ** 2) # Prints "10.5 11.5 21.0 110.25"

<class 'int'>
50
51
49
100
2500
51
102
<class 'float'>
10.5 11.5 21.0 110.25

**Boolean Operation and Type Representation**

In [4]:
T = True
F = False
print(type(T)) # Prints class type
print(T and F) # Logical AND; prints "False"
print(T or F)  # Logical OR; prints "True"
print(not T)   # Logical NOT; prints "False"
print(T != F)  # Logical XOR; prints "True"

<class 'bool'>
False
True
False
True

**Different Ways to Print String**

In [17]:
#Printing String using double quotation " "
print("Hello World")



#Printing String using single quotation " "
print('Hello World')



#Printing String in multiple lines using 3 quotation """
print("""Hello
World
In
Multiple
Lines
""")



#Printing String with numeric value by performing concatenation
X = 1000
print(f'The value of X is {X}')



#Printing String with numeric value by performing concatenation and doing computation with the numeric value
X = 1000
print(f'The value of X plus 50 is {X+50}')



#Different formats to print a String
X = 1000
print(f'The value of X is {X}')
print('The value of X is {}'.format(X))
print('The value of X is ' + str(X))
print('The value of X is %d %d' % (X, X))

Hello World
Hello World
Hello
World
In
Multiple
Lines

The value of X is 1000
The value of X plus 50 is 1050
The value of X is 1000
The value of X is 1000
The value of X is 1000
The value of X is 1000 1000

**Conditional Statements**

In [18]:
x = 100
y = 200

if x==100:
    print('The value of the variable x is 100')
    if y==200:
        print('The value of the variable y is 200')
elif x==200:
    print('The value of the variable x is 200')
else:
    print('Nothing to print')

The value of the variable x is 100
The value of the variable y is 200

**Different Ways to Represent Loop**

In [23]:
#Simple way to write a for loop
for a in range(0, 5):  # If you ever see xrange, you are in Python 2
    print(a)



# for loop where range(start (optional, default 0), end (exclusive), inc/dec (optional, default 1))
for a in range(0,5,1):
    print('Increment: ', a)



# for loop where range(start (optional, default 0), end (exclusive), inc/dec (optional, default 1))
for a in range(10,0,-1):
    print('Decrement: ', a)


#
python = 0
for x in range(0, 5):
    print(f"{python} + {x} =  ", end="")
    python += x
    print(python)

print(f"Sum: {python}")

0
1
2
3
4
Increment:  0
Increment:  1
Increment:  2
Increment:  3
Increment:  4
Decrement:  10
Decrement:  9
Decrement:  8
Decrement:  7
Decrement:  6
Decrement:  5
Decrement:  4
Decrement:  3
Decrement:  2
Decrement:  1
0 + 0 =  0
0 + 1 =  1
1 + 2 =  3
3 + 3 =  6
6 + 4 =  10
Sum: 10